## Connecting to SQL Database and Loading data table in as dataframe

In [ ]:
# Import Dependencies
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
import io
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

from pathlib import Path
from collections import Counter

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [ ]:
# Installing ppacakges to use postgresql
!pip install ipython-sql
!pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.3.post0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.9.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.9.0)

In [ ]:
# dependencies necessary for connecting to sql database
import os
from sqlalchemy import create_engine
from config import db_password

In [ ]:
db_string = f"postgresql://root:{db_password}@unc-capstone-db.chbhjul7q0jr.us-east-2.rds.amazonaws.com/cleaning_database_beta"

In [ ]:
engine = create_engine(db_string)

In [ ]:
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 30.2 MB/s
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.3.post0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.1

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql postgresql://root:{db_password}@unc-capstone-db.chbhjul7q0jr.us-east-2.rds.amazonaws.com/cleaning_database_beta

'Connected: root@cleaning_database_beta'

In [ ]:
%%sql 
SELECT * FROM updated_animal_data1 LIMIT 5

 * postgresql://root:***@unc-capstone-db.chbhjul7q0jr.us-east-2.rds.amazonaws.com/cleaning_database_beta
5 rows affected.

[('A803419', None, 'TX', '2 years', 'Intact Male', 'Dog', 'Small', 'Black/White', 7, 101, 146, '137', 'Pale', 'UTO', 'BAR', 'None', 'None', 'Mild', 'Moderate', 'None', 'Mild', 'None', 'None', 'Normal', 'Not Tested'),
 ('A800463', 'Delilah', 'TX', '7 months', 'Intact Female', 'Dog', 'Medium', 'Tan/Black', 45, 102, 116, '38', 'Light Pink', '>2 sec', 'Dull/Depressed', 'Mild', 'Mild', 'Mild', 'None', 'None', 'None', 'None', 'None', 'Irritation', 'Not Tested'),
 ('A803414', 'Martie', 'TX', '2 years', 'Intact Female', 'Dog', 'Large', 'Black/Tricolor', 63, 102, 161, '44', 'Pink', '1-2 sec', 'BAR', 'Mild', 'None', 'None', 'Moderate', 'None', 'None', 'None', 'None', 'Normal', 'Not Tested'),
 ('A803417', None, 'TX', '1 month', 'Intact Female', 'Dog', 'Medium', 'Brown/Tan', 39, 101, 129, '49', 'Pink', '1-2 sec', 'BAR', 'Mild', 'Mild', 'None', 'Moderate', 'Present', 'None', 'None', 'None', 'Bruising', 'Not Tested'),
 ('A803412', None, 'TX', '5 months', 'Intact Male', 'Dog', 'Small', 'Brown/Black', 21, 102, 165, '128', 'Pale', 'UTO', 'QAR', 'None', 'None', 'None', 'Moderate', 'None', 'None', 'None', 'None', 'Normal', 'Not Tested')]

In [ ]:
# Convert sql data table into pandas dataframe
animal_Data_df = pd.read_sql('SELECT * FROM updated_animal_data1', engine)
animal_Data_df.head()

,animal_id,name,state,age,sex,animal_type,breed_class,color,weight_lbs,temperature,...,vomiting,diarrhea,inappetence,lethargic,lameness,muscle_pain,joint_swelling,reported_weight_loss,skin_condition,is_4dx_tested
0,A803419,None,TX,2 years,Intact Male,Dog,Small,Black/White,7,101,...,None,None,Mild,Moderate,None,Mild,None,None,Normal,Not Tested
1,A800463,Delilah,TX,7 months,Intact Female,Dog,Medium,Tan/Black,45,102,...,Mild,Mild,Mild,None,None,None,None,None,Irritation,Not Tested
2,A803414,Martie,TX,2 years,Intact Female,Dog,Large,Black/Tricolor,63,102,...,Mild,None,None,Moderate,None,None,None,None,Normal,Not Tested
3,A803417,None,TX,1 month,Intact Female,Dog,Medium,Brown/Tan,39,101,...,Mild,Mild,None,Moderate,Present,None,None,None,Bruising,Not Tested
4,A803412,None,TX,5 months,Intact Male,Dog,Small,Brown/Black,21,102,...,None,None,None,Moderate,None,None,None,None,Normal,Not Tested

In [ ]:
# checking columns and data types
animal_Data_df.dtypes

animal_id               object
name                    object
state                   object
age                     object
sex                     object
animal_type             object
breed_class             object
color                   object
weight_lbs               int64
temperature              int64
heart_rate_bpm           int64
resp_rate_bpm           object
mm                      object
crt                     object
mentation               object
vomiting                object
diarrhea                object
inappetence             object
lethargic               object
lameness                object
muscle_pain             object
joint_swelling          object
reported_weight_loss    object
skin_condition          object
is_4dx_tested           object
dtype: object

## Pre-processing data for supervised learning

In [ ]:
# Removing columns that we do not need for model
u1_animalData_df = animal_Data_df.drop(['animal_id', 'name', 'state', 'sex', 'animal_type', 'breed_class', 'color'], axis=1)
print(u1_animalData_df.shape[0])
u1_animalData_df.head()

49509

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm,mm,crt,mentation,vomiting,diarrhea,inappetence,lethargic,lameness,muscle_pain,joint_swelling,reported_weight_loss,skin_condition,is_4dx_tested
0,2 years,7,101,146,137,Pale,UTO,BAR,None,None,Mild,Moderate,None,Mild,None,None,Normal,Not Tested
1,7 months,45,102,116,38,Light Pink,>2 sec,Dull/Depressed,Mild,Mild,Mild,None,None,None,None,None,Irritation,Not Tested
2,2 years,63,102,161,44,Pink,1-2 sec,BAR,Mild,None,None,Moderate,None,None,None,None,Normal,Not Tested
3,1 month,39,101,129,49,Pink,1-2 sec,BAR,Mild,Mild,None,Moderate,Present,None,None,None,Bruising,Not Tested
4,5 months,21,102,165,128,Pale,UTO,QAR,None,None,None,Moderate,None,None,None,None,Normal,Not Tested

In [ ]:
# Remove the `Not Tested` 4Dx status
not_Tested_mask = u1_animalData_df['is_4dx_tested'] != 'Not Tested'
tested_df = u1_animalData_df.loc[not_Tested_mask]

print(tested_df.shape[0])
print(tested_df.columns)
tested_df.head(10)

16979
Index(['age', 'weight_lbs', 'temperature', 'heart_rate_bpm', 'resp_rate_bpm',
       'mm', 'crt', 'mentation', 'vomiting', 'diarrhea', 'inappetence',
       'lethargic', 'lameness', 'muscle_pain', 'joint_swelling',
       'reported_weight_loss', 'skin_condition', 'is_4dx_tested'],
      dtype='object')

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm,mm,crt,mentation,vomiting,diarrhea,inappetence,lethargic,lameness,muscle_pain,joint_swelling,reported_weight_loss,skin_condition,is_4dx_tested
6,1 year,15,102,183,44,Pink,1-2 sec,QAR,Mild,Mild,None,None,None,None,None,None,Normal,Negative
8,2 years,72,100,138,21,Pink,>2 sec,QAR,Mild,None,None,None,None,None,None,Present,Normal,Negative
10,2 days,63,102,160,50,Pink,1-2 sec,QAR,None,None,Mild,None,None,None,None,None,Normal,Negative
11,2 days,59,102,157,18,Pink,>2 sec,Dull/Depressed,Mild,Mild,Moderate,None,None,None,Mild,None,Normal,Negative
19,6 years,42,104,110,40,Light Pink,1-2 sec,Dull/Depressed,None,Moderate,Mild,None,None,Mild,Mild,None,Normal,Positive
20,2 months,90,100,161,131,Pink,>2 sec,Anxious/Agitated,None,None,None,None,None,None,None,None,Normal,Negative
24,4 years,19,102,88,150,Pink,<1 sec,Dull/Depressed,None,None,Moderate,None,None,None,None,None,Bruising,Negative
25,2 years,71,102,147,39,Pink,<1 sec,BAR,Mild,None,Mild,Mild,None,None,None,None,Normal,Negative
32,4 months,47,99,93,39,Pink,1-2 sec,QAR,None,Mild,Mild,None,None,Mild,None,None,Normal,Negative
35,9 years,69,105,178,145,Pink,1-2 sec,QAR,Mild,None,Mild,Mild,None,None,Mild,Present,Normal,Positive

In [ ]:
# Converting the age column to just numbers - years
# First, splitting the column into two new colummns - one for number and the other for the string (years, months, etc.)
tested_df[['age_num', 'age_str']] = tested_df['age'].apply(lambda x: pd.Series(str(x).split(" ")))

# Setting the original age column equal to the age_num column - i.e. changing the data in the age column to just the numbers
tested_df['age'] = tested_df['age_num']

# Changing the data type of the age column to float
tested_df['age'] = tested_df['age'].astype('float')

In [ ]:
# Checking the column to see what the unique string values are
tested_df["age_str"].unique()

array(['year', 'years', 'days', 'months', 'month', 'weeks', 'week', 'day'],
      dtype=object)

In [ ]:
# Using the string column to change the number value - converting all ages to years
tested_df.loc[tested_df.age_str == 'days', ['age']] = tested_df['age'] / 365
tested_df.loc[tested_df.age_str == 'day', ['age']] = tested_df['age'] / 365
tested_df.loc[tested_df.age_str == 'months', ['age']] = tested_df['age'] / 12
tested_df.loc[tested_df.age_str == 'month', ['age']] = tested_df['age'] / 12
tested_df.loc[tested_df.age_str == 'weeks', ['age']] = tested_df['age'] / 52
tested_df.loc[tested_df.age_str == 'week', ['age']] = tested_df['age'] / 52

tested_df.head()

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm,mm,crt,mentation,vomiting,diarrhea,inappetence,lethargic,lameness,muscle_pain,joint_swelling,reported_weight_loss,skin_condition,is_4dx_tested,age_num,age_str
6,1.000000,15,102,183,44,Pink,1-2 sec,QAR,Mild,Mild,None,None,None,None,None,None,Normal,Negative,1,year
8,2.000000,72,100,138,21,Pink,>2 sec,QAR,Mild,None,None,None,None,None,None,Present,Normal,Negative,2,years
10,0.005479,63,102,160,50,Pink,1-2 sec,QAR,None,None,Mild,None,None,None,None,None,Normal,Negative,2,days
11,0.005479,59,102,157,18,Pink,>2 sec,Dull/Depressed,Mild,Mild,Moderate,None,None,None,Mild,None,Normal,Negative,2,days
19,6.000000,42,104,110,40,Light Pink,1-2 sec,Dull/Depressed,None,Moderate,Mild,None,None,Mild,Mild,None,Normal,Positive,6,years

In [ ]:
# Dropping the extra (created) columns - age_num and age_str
final_animalData_df = tested_df.drop(['age_str', 'age_num'], axis=1)
print(final_animalData_df.columns)
print(final_animalData_df.dtypes)
final_animalData_df.head()

Index(['age', 'weight_lbs', 'temperature', 'heart_rate_bpm', 'resp_rate_bpm',
       'mm', 'crt', 'mentation', 'vomiting', 'diarrhea', 'inappetence',
       'lethargic', 'lameness', 'muscle_pain', 'joint_swelling',
       'reported_weight_loss', 'skin_condition', 'is_4dx_tested'],
      dtype='object')
age                     float64
weight_lbs                int64
temperature               int64
heart_rate_bpm            int64
resp_rate_bpm            object
mm                       object
crt                      object
mentation                object
vomiting                 object
diarrhea                 object
inappetence              object
lethargic                object
lameness                 object
muscle_pain              object
joint_swelling           object
reported_weight_loss     object
skin_condition           object
is_4dx_tested            object
dtype: object

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm,mm,crt,mentation,vomiting,diarrhea,inappetence,lethargic,lameness,muscle_pain,joint_swelling,reported_weight_loss,skin_condition,is_4dx_tested
6,1.000000,15,102,183,44,Pink,1-2 sec,QAR,Mild,Mild,None,None,None,None,None,None,Normal,Negative
8,2.000000,72,100,138,21,Pink,>2 sec,QAR,Mild,None,None,None,None,None,None,Present,Normal,Negative
10,0.005479,63,102,160,50,Pink,1-2 sec,QAR,None,None,Mild,None,None,None,None,None,Normal,Negative
11,0.005479,59,102,157,18,Pink,>2 sec,Dull/Depressed,Mild,Mild,Moderate,None,None,None,Mild,None,Normal,Negative
19,6.000000,42,104,110,40,Light Pink,1-2 sec,Dull/Depressed,None,Moderate,Mild,None,None,Mild,Mild,None,Normal,Positive

## Defining our Target

In [ ]:
# Creating features
X = final_animalData_df.drop(columns='is_4dx_tested')
X = pd.get_dummies(X)

# Target
y = final_animalData_df['is_4dx_tested']

X.head()

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm_120,resp_rate_bpm_121,resp_rate_bpm_122,resp_rate_bpm_123,resp_rate_bpm_124,resp_rate_bpm_125,...,joint_swelling_Mild,joint_swelling_Moderate,joint_swelling_None,reported_weight_loss_None,reported_weight_loss_Present,skin_condition_Bruising,skin_condition_Irritation,skin_condition_Normal,skin_condition_Petechia,skin_condition_Petechiae
6,1.000000,15,102,183,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8,2.000000,72,100,138,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
10,0.005479,63,102,160,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
11,0.005479,59,102,157,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
19,6.000000,42,104,110,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0

In [ ]:
X.describe()

,age,weight_lbs,temperature,heart_rate_bpm,resp_rate_bpm_120,resp_rate_bpm_121,resp_rate_bpm_122,resp_rate_bpm_123,resp_rate_bpm_124,resp_rate_bpm_125,...,joint_swelling_Mild,joint_swelling_Moderate,joint_swelling_None,reported_weight_loss_None,reported_weight_loss_Present,skin_condition_Bruising,skin_condition_Irritation,skin_condition_Normal,skin_condition_Petechia,skin_condition_Petechiae
count,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,...,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000,16979.000000
mean,2.677442,52.787738,100.941987,138.631898,0.009423,0.010248,0.009011,0.007480,0.008363,0.008069,...,0.167796,0.070263,0.761941,0.841157,0.158843,0.150716,0.024442,0.799635,0.016373,0.008834
std,3.062319,31.285347,1.586213,29.759678,0.096619,0.100715,0.094501,0.086164,0.091070,0.089466,...,0.373696,0.255598,0.425908,0.365541,0.365541,0.357782,0.154421,0.400285,0.126910,0.093578
min,0.000000,5.000000,99.000000,88.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.666667,29.000000,100.000000,113.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,2.000000,51.000000,101.000000,138.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,4.000000,73.000000,102.000000,164.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,20.000000,200.000000,105.000000,190.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Check the balance of the target variable
y.value_counts()

Negative    14853
Positive     2126
Name: is_4dx_tested, dtype: int64

## Scaling the data and Splitting our data into Training and Testing sets

In [ ]:
# Splitting data into testing and training sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(Counter(y_train))
print(Counter(y_test))

Counter({'Negative': 11109, 'Positive': 1625})
Counter({'Negative': 3744, 'Positive': 501})

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)